# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# OpenSpec
openspec/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.windsurf
.claude
.opencode
AGENTS.md
CLAUDE.md

# Local env files
.env
.env.*
!.env.example
